@import "../variables";

.rr.avatar {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  overflow: hidden;

  &.inline {
    display: inline-block;
  }

  &.large {
    height: 6em;
    width: 6em;
  }

  img {
    max-width: 100%;
  }
}
