@import "../variables";
// --------------------------------------
// Button Primary
// --------------------------------------
.rr-btn-primary {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  background: #F7253E;
  color: white;
  padding: 15px 30px;
  margin: 10px 5px 5px 5px;
  border-radius: 50px;
  border: 3px solid #F7253E;

  &:hover,
  &:active,
  &:focus {
    color: rgba(0,0,0,.3);
  }
}
// --------------------------------------
// Button Secondary
// --------------------------------------
.rr-btn-secondary {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  background: white;
  color: rgba(44,48,52,.5);
  padding: 15px 30px;
  margin: 10px 5px 5px 5px;
  border-radius: 50px;
  border: 3px solid #F7253E;

  &:hover,
  &:active,
  &:focus {
    background: #F7253E;
    color: rgba(0,0,0,.3);
  }
}
// --------------------------------------
// Icons formatting
// --------------------------------------
ul {
  float: left;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul li {
  width: 20%;
  height: 90px;
  float: left;
  display: inline;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  color: rgba(44,48,52,.5);
  text-align: center;
}
ul li i {
  color: rgb(44,48,52);
  text-align: center;
  font-size: 40px !important;
  margin-bottom: 10px;
}
// --------------------------------------
// Social Buttons
// --------------------------------------
.rr-button-social {
  color: #96989a;
  background-color: #2c3034;
  border-radius: 999px;
  border: solid 1px #96989a;
  width: 2em;
  height: 2em;
  font-size: 2em;
}
// --------------------------------------
// Floating?
// --------------------------------------
.rr-button-other {
  color: #FFFFFF;
  background-color: #2c3034;
  border: solid 1px #f7253e;
  border-radius: 999px;
  width: 2em;
  height: 2em;
  font-size: 2em;
  text-align: center;
  
  &:hover,
  &:active,
  &:focus {
    background-color: #f7253e;
  }
}
