@import "../variables";

// --------------------------------------
// Button
// --------------------------------------
.rr.button {
  display: inline-block;
  padding: $base_padding_vertical $base_padding_horizontal;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  border: none;
  border-radius: $border_radius_circular;
  text-transform: uppercase;
  cursor: pointer;
  &.fluid {
    width: 100%;
  }
  &.primary {
    background: $red;
  }

  &.secondary {
    background: none;
    color: #fff;
    border: 2px solid $red;
  }

  &.circular {
    padding: 0;
    width: $base_icon_size * 2;
    height: $base_icon_size * 2;
    color: #FFF;
    background: none;
    border: solid 2px $red;
    border-radius: $border_radius_circular;
    text-align: center;
    &:hover,
    &:active,
    .active,
    &:focus {
      color: #FFF;
    }
  }

  &.social {
    background: none;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    line-height: 1.5em;
    color: $gray;
    border-radius: $border_radius_circular;
    border: solid 2px $gray;
    &:hover,
    &:active,
    .active,
    &:focus {
      background: none;
      color: $gray;
    }
  }
}
