@import "../variables";

// --------------------------------------
// Button
// --------------------------------------
.rr.button {
  padding: $base_padding_vertical $base_padding_horizontal;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  &.primary {
    background: $red;
    border: 3px solid $red;
  }

  &.secondary {
    background: #FFF;
    color: $gray;
    border: 2px solid $red;
  }

  &.circular {
    padding: 0;
    width: 2em;
    height: 2em;
    font-size: 2em;
    line-height: 2em;
    color: #FFF;
    background: none;
    border: solid 2px $red;
    border-radius: 999px;
    text-align: center;
    &:hover,
    &:active,
    .active,
    &:focus {
      color: #FFF;
    }
  }

  &.social {
    background: none;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    line-height: 1.5em;
    color: $gray_light;
    border-radius: 999px;
    border: solid 2px $gray_light;
    &:hover,
    &:active,
    .active,
    &:focus {
      background: none;
      color: $gray;
    }
  }

  &:hover,
  &:active,
  .active,
  &:focus {
    background-color: $red;
    color: rgba(0, 0, 0, .3);
  }
}
