@import "../variables";

// --------------------------------------
// Button
// --------------------------------------
.rr.button {
  padding: $base_padding_vertical $base_padding_horizontal;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 50px;
  text-transform: uppercase;

  &.primary {
    background: $red;
    border: 3px solid $red;
  }

  &.secondary {
    background: #FFF;
    color: $gray;
    border: 2px solid $red;

    &:hover,
    &:active,
    .active,
    &:focus {
      background: $red;
    }
  }

  &.circular {
    padding: 0;
    width: 2em;
    height: 2em;
    font-size: 2em;
    line-height: 2em;
    color: #FFF;
    background: none;
    border: solid 2px $red;
    border-radius: 999px;
    text-align: center;
    cursor: pointer;
    &:hover,
    &:active,
    .active,
    &:focus {
      color: #FFF;
      background-color: $red;
    }
  }

  &.social {
    background: none;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    line-height: 1.5em;
    color: $gray_light;
    //background-color: #2c3034;
    border-radius: 999px;
    border: solid 2px $gray_light;
  }

  &:hover,
  &:active,
  .active,
  &:focus {
    color: rgba(0, 0, 0, .3);
    cursor: pointer;
  }
}

// --------------------------------------
// Icons formatting
// --------------------------------------
ul {
  float: left;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul li {
  width: 20%;
  height: 90px;
  float: left;
  display: inline;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  color: rgba(44, 48, 52, .5);
  text-align: center;
}

ul li i {
  color: rgb(44, 48, 52);
  text-align: center;
  font-size: 40px !important;
  margin-bottom: 10px;
}
