@import "../_variables";

.rr.card {
  margin-bottom: $base_padding;
  font-size: $font_size_small;
  border-radius: $border_radius_small;
  box-shadow: $box_shadow;
  background: $background_light;
  overflow: hidden;
  .content {
    padding: $base_padding;
  }
}

// Groups
// ----------------------------------------
.rr.cards {
  margin-bottom: $base_padding;
  border-radius: $border_radius_small;
  box-shadow: $box_shadow;

  .rr.card {
    border-radius: 0;
    box-shadow: none;

    &:first-child {
      border-top-left-radius: $border_radius_small;
      border-top-right-radius: $border_radius_small;
    }

    &:last-child {
      border-bottom-left-radius: $border_radius_small;
      border-bottom-right-radius: $border_radius_small;
    }

    &:not(:first-child) {
      border-top: 1px solid $gray_lighter;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
