@import "../_variables";

.rr.card {
  padding: $base_padding;
  font-size: $font_size_small;
  border-radius: $border_radius_small;
  box-shadow: $box_shadow;
  background: $background_light;
}

// Groups
// ----------------------------------------
.rr.cards {
  border-radius: $border_radius_small;
  box-shadow: $box_shadow;

  .rr.card {
    border-radius: 0;
    box-shadow: none;

    & + .rr.card {
      border-top: 1px solid $gray_lighter;
    }

    &:first-child {
      border-top-left-radius: $border_radius_small;
      border-top-right-radius: $border_radius_small;
    }

    &:last-child {
      border-bottom-left-radius: $border_radius_small;
      border-bottom-right-radius: $border_radius_small;
    }
  }
}
