@import "../_variables.scss";

.rr.header {
  text-align: center;
  font-family: $heading_font_family;
  font-weight: $heading_font_weight;
  &.page {
    position: relative;
    margin: 0;
    box-shadow: $box_shadow;
    background-color: white;
    text-transform: uppercase;
    color: $gray;
    text-align: center;
    font-weight: lighter;
    padding: $base_padding;
    z-index: $zindex_headings;
  }
  &.secondary {
    color: $red;
    text-transform: uppercase;
  }
  &.uppercase {
    text-transform: uppercase;
  }
}
