@import "../_variables.scss";

.rr.header {
  font-family: $base_font_family;
  &.page {
    position: relative;
    margin: 0;
    box-shadow: $box_shadow;
    background-color: white;
    text-transform: uppercase;
    color: $gray;
    text-align: center;
    font-weight: lighter;
    padding: $base_padding;
    z-index: $zindex_headers;
  }
  &.primary {
    text-align: center;
    color: white;
    font-weight: normal;
  }
  &.secondary {
    color: $red;
    text-transform: uppercase;
  }
  &.uppercase {
    text-transform: uppercase;
  }
}
