@import "../_variables.scss";

.material-icons {
  vertical-align: middle; // align with text
  font-size: $base_icon_size;

  // ----------------------------------------
  // Shapes

  &.circular {
    border-radius: $border_radius_circular;
    border: 0.1em solid $text_dark;
  }

  // ----------------------------------------
  // Colors

  &.inverted {
    color: $text_light;
    background: $background_dark;
    &.circular {
      border-color: $background_dark;
    }
  }

  &.red {
    color: $red;
    &.inverted {
      color: $text_light;
      background: $red;
    }
    &.circular {
      border-color: $red;
    }
  }

  &.gray {
    color: $gray_lighter;
    &.inverted {
      color: $text_light;
      background: $gray_lighter;
    }
    &.circular {
      border-color: $gray_lighter;
    }
  }

  // ----------------------------------------
  // Sizes

  &.extra.small {
    font-size: $icon_size_extra_small;
  }
  &.small {
    font-size: $icon_size_small;
  }
  &.large {
    font-size: $icon_size_large;
  }
  &.extra.large {
    font-size: $icon_size_extra_large;
  }
}
