.rr.image {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  max-width: 100%;

  &.circular {
    border-radius: $border_radius_circular;
  }

  &.fluid {
    width: 100%;
  }

  img {
    vertical-align: top;
    width: 100%;
  }
}

