.rr.image {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  max-width: 100%;

  &.circular {
    border-radius: 999px;
  }

  img {
    vertical-align: top;
    max-width: 100%;
  }
}

