@import "../_variables";

.rr.link {
  font-weight: 600;
  color: $red;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: darken($red, 10);
    text-decoration: none;
  }
  &.secondary {
    color: $gray_light;
    &:hover {
      color: darken($gray_light, 10);
    }
  }
}
