@import "../_variables";

.rr.link {
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.inline {
    color: $red;
    &:hover {
      color: darken($red, 20);
    }
  }

  &.sub {
    color: $text_gray;
    &:hover {
      color: darken($text_gray, 20);
    }
  }
}
