@import "../_variables";

.rr.list {
  background: $background_light;
  margin: 0;
  padding: 0;

  .item {
    display: flex;
    position: relative;
    padding: $base_padding;
    color: $text_dark;
    border-bottom: solid 1px $gray_lighter;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &.action {
    .item {
      cursor: pointer;
      &::after {
        font-family: "Material Icons";
        color: $gray_lighter;
        content: '\e315';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        line-height: 1;
        font-size: 2.5em;
        margin: auto;
        height: 1em;
      }
    }
  }
}
