@import "../_variables";

.rr.list {
  background: $background_light;
  .item {
    position: relative;
    display: flex;
    color: $text_dark;
    text-transform: uppercase;
    font-weight: bold;
    padding: $base_padding;
    border-bottom: solid 1px $gray_lighter;
    .image {
      flex: none;
      align-self: center;
      width: 2.5em;
      margin-right: 1em;
      img {
        border-radius: 999px;
        height: 2.5em;
        width: 2.5em;
      }
    }
    .content {
      flex: 1;
      align-self: center;
      padding: $base_padding;
    }
    &::after {
      font-family: "Material Icons";
      color: $gray_lighter;
      content: '\e315';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      line-height: 1;
      font-size: 2.5em;
      margin: auto;
      height: 1em;
    }
  }
  &.red {
    .item {
      color: $red;
    }
  }
}
