@import "../_variables.scss";

.rr.modal {
  background: rgba(0, 0, 0, 0.85);
  display: inline-block;
  background-color: white;
  color: $gray_light;
  text-align: center;
  border: solid 1px black;
  height: 100%;
  width: 70%;
  opacity: 1;
  .icon {
    border-radius: 999px;
    color: white;
    background-color: $red;
    padding: 0.5em;
    font-size: 2.5em;
  }
  .content {
    padding: 1em;
  }
  .actions {
    display: flex;
    .button {
      flex: 1;
      background-color: white;
      border: solid 1px $gray_lighter;
      height: 2em;
      width: 50%;
      float: left;
    }
  }

}
