@import "../_variables.scss";

.rr.modal {
  background: rgba(0, 0, 0, 0.85);
  display: inline-block;
  background-color: white;
  text-align: center;
  border: solid 1px black;
  height: 100%;
  width: 70%;
  opacity: 1;
  .icon {
    border-radius: 999px;
    color: white;
    background-color: $red;
    padding: 0.5em;
    font-size: 2.5em;
  }
  .content {
    padding: 1em;
  }
  .actions {
    display: flex;
    .button {
      flex: 1;
      cursor: pointer;
      color: $gray_light;
      background-color: white;
      border: none;
      border-top: solid 1px $gray_lighter;
      font-size: 0.80em;
      font-weight: bold;
      padding: 1.5em;
      width: 50%;
      float: left;
      text-transform: uppercase;
      & + .button {
        border-left: 1px solid $gray_lighter;
      }
      &:hover {
        color: $gray;
      }
    }
  }

}
