@import "../_variables.scss";

.rr.modal {
  position: absolute;
  display: block;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 20em;
  text-align: center;
  color: $text_dark;
  background-color: white;
  z-index: 1;
  .header {
    margin: 1em 0;
    text-transform: uppercase;
    color: $red;
    font-weight: bold;
  }
  i {
    border-radius: $border_radius_circular;
    color: white;
    background-color: $red;
    padding: 0.5em;
    margin: 0.25em;
    font-size: 2.75em;
  }
  .content {
    padding: $base_padding;
  }
  .actions {
    display: flex;
    .button {
      flex: 1;
      cursor: pointer;
      color: $gray_light;
      background-color: white;
      border: none;
      border-top: solid 1px $gray_lighter;
      font-size: 0.80em;
      font-weight: bold;
      padding: 1.5em;
      width: 50%;
      float: left;
      text-transform: uppercase;
      & + .button {
        border-left: 1px solid $gray_lighter;
      }
      &:hover {
        color: $gray;
      }
    }
  }

}
