@import "../_variables";

.rr-rating {
  display: inline-block;
  color: $gray_light;
  text-align: center;
  .rr-rating-label {
    text-transform: uppercase;
    font-size: $font_size_small;
  }
  .rr-rating-star {
    @extend .fa;
    @extend .fa-star;
    display: inline;
    padding: 0 0.125em;
    &.active {
      color: $red;
    }
  }
}
