@import "../_variables";

.rr.rating {
  display: inline-block;
  color: $gray_light;
  text-align: center;
  .label {
    text-transform: uppercase;
    font-size: $font_size_small;
  }
  .star {
    display: inline;
    padding: 0 0.125em;
    font-family: 'Material Icons';
    &::before {
      // A star icon
      content: '\e838';
    }
    &.half {
      &::before {
        // A half star icon
        content: '\e839'
      }
    }
    &.active {
      color: $red;
    }
  }
}
