@import "../_variables.scss";

.rr.statistic {
  text-align: center;
  text-transform: uppercase;
  line-height: $line_height_small;
  font-size: $font_size_extra_small;

  .value {
    font-weight: bold;
  }

  .label {
    color: $gray;
  }
}
