@import "../_variables";

.rr.tabs {
  display: flex;
  color: $gray;
  background: $background_light;
  border-bottom: 1px solid $gray_lighter;

  .tab {
    flex: 1;
    padding: $base_padding;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: $font_size_extra_small;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:active,
    &.active,
    &:focus {
      color: $red;
      text-decoration: none;
    }
    &.active {
      border-bottom: 0.25em solid $red;
    }
  }
}
