@import "../_variables";

.rr.tabs {
  display: flex;

  .tab {
    flex: 1;
    padding: $base_padding_vertical $base_padding_horizontal;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 0.75em;
    text-align: center;
    font-weight: bold;

    &:hover,
    &:active {
      color: $red;
      text-decoration: none;
    }
    &.active {
      color: $red;
      text-decoration: none;
      border-bottom: 3px solid $red;
    }
    &:focus {
      text-decoration: none;
    }
  }
}
