@import "../variables";

.rr.tab.bar {
  display: flex;
  text-align: center;
  .tab {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: ($base_padding * 0.5) $base_padding;
    color: $text_gray;
    background-color: $background_dark;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $text_light;
    }

    i {
      font-size: 3em;
    }

    & + .tab {
      border-left: solid 1px $text_gray;
    }
  }
}
