@import "../_variables";

html, body {
  font-family: $base_font_family;
  font-weight: $base_font_weight;
  font-size: $base_font_size;
  background: $body_background;
}

// ----------------------------------------
// Headings

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $heading_font_family;
  font-weight: $heading_font_weight;
}
