@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,600';

html, body {
  font-family: $base_font_family;
  font-weight: $base_font_weight;
  font-size: $base_font_size;
  background: $body_background;
}
