@import "./_variables";

html, body {
  margin: 0;
  font-family: $base_font_family;
  font-weight: $base_font_weight;
  font-size: $master_size;
  background: $background_dark;
  color: $text_light;
  line-height: $base_line_height;
  letter-spacing: $base_letter_spacing;
}

* {
  box-sizing: border-box;
}
