// ========================================================
// Base

// ----------------------------------------
// Colors

$red: #F7253E;
$gray: rgb(44, 48, 52);
$gray_light: fade($gray, 0.5);
$gray_lighter: fade($gray, 0.2);

$body_background: #FFF;

// ----------------------------------------
// Typography

$base_font_family: Raleway, sans-serif;
$base_font_size: 15px;

$base_font_weight: 400;
$base_line_height: 25px;
$base_color: $gray;

$heading_font_family: $base_font_family;
$heading_font_weight: 600;

// ----------------------------------------
// Padding

$base_padding: 1em;
$base_padding_horizontal: $base_padding * 2;
$base_padding_vertical: $base_padding * 1;

// ----------------------------------------
// Border

$base_border_radius: 0;
$base_border: 1px solid black;
