// ========================================================
// Base

// ----------------------------------------
// Colors

$red: #F7253E;

// grayscale
$gray: scale_color(#888, $green: 7, $blue: 11);

$gray_dark: darken($gray, 16%);
$gray_darker: darken($gray, 33%);
$gray_darkest: darken($gray, 40%);

$gray_light: lighten($gray, 16%);
$gray_lighter: lighten($gray, 33%);
$gray_lightest: lighten($gray, 40%);

// backgrounds
$background_dark: $gray_darker;
$background_light: #FFF;

// text colors
$text_dark: $gray_darkest;
$text_light: #FFF;
$text_gray: $gray_dark;

// ----------------------------------------
// Typography

$base_font_family: Raleway, sans-serif;
$base_font_size: 15px;
$font_size_small: 13px;

$base_font_weight: 400;
$base_line_height: 25px;

$heading_font_family: $base_font_family;
$heading_font_weight: 600;

// ----------------------------------------
// Padding

$base_padding: 1em;
$base_padding_horizontal: $base_padding * 2;
$base_padding_vertical: $base_padding * 1;

// ----------------------------------------
// Border

$base_border_radius: 0;
$base_border: 1px solid black;
