// ========================================================
// Base

// The master size knob.
// All components use `em` based sizing
$master_size: 15px;

// ----------------------------------------
// Colors

$red: #F7253E;

// grayscale
$gray: scale_color(#888, $green: 7, $blue: 11);

$gray_dark: darken($gray, 16%);
$gray_darker: darken($gray, 33%);
$gray_darkest: darken($gray, 40%);

$gray_light: lighten($gray, 16%);
$gray_lighter: lighten($gray, 33%);
$gray_lightest: lighten($gray, 40%);

// backgrounds
$background_dark: $gray_darker;
$background_gray: $gray_lightest;
$background_light: #FFF;

// text colors
$text_dark: $gray_darkest;
$text_light: #FFF;

// ----------------------------------------
// Typography

$base_font_family: Raleway, sans-serif;
$base_font_weight: 300;

$font_size_small: 0.9rem;
$font_size_large: 1.2rem;
$font_size_extra_small: 0.8rem;

$base_icon_size: 2em;
$icon_size_extra_small: $base_icon_size * 0.5;
$icon_size_small: $base_icon_size * 0.75;
$icon_size_large: $base_icon_size * 1.5;
$icon_size_extra_large: $base_icon_size * 2;

$base_line_height: 1.7;
$line_height_small: 1.4;

$base_letter_spacing: 1px;

$heading_font_family: $base_font_family;
$heading_font_weight: 600;

// ----------------------------------------
// Padding

$base_padding: 1em;
$base_padding_horizontal: $base_padding * 2;
$base_padding_vertical: $base_padding * 1;

// ----------------------------------------
// Border

$base_border_radius: 0;
$border_radius_small: 0.2em;
$border_radius_circular: 999rem;
$base_border: 1px solid black;

// ----------------------------------------
// Shadows
$box_shadow: 0 0.1em 0.2em transparentize(#000, 0.85);
$box_shadow_large: 0 0.2em 0.4em transparentize(#000, 0.85);

// ----------------------------------------
// Z-Index

$zindex_navbar: 2000;
$zindex_headers: 1000;
