@import "variables";

$docs_background: #fff;

html {
  background: $docs_background;
}

body {
  background: $docs_background;
  padding: 0 4em;
}

.docs-example {
  padding: 2em 0;
  background: $docs_background;

  .docs-example-header {
    margin: 1em 0 2em 0;
    font-size: 1.5em;
    text-align: center;
    color: darken($docs_background, 50);
    text-shadow: 0 1px 2px transparentize(#000, 0.85);
    text-transform: uppercase;
  }

  .docs-example-content {
    padding: 2em;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 30px transparentize(#000, 0.85);
    &.docs-example-dark {
      background: $background_dark;
    }
  }

  pre {
    padding: 1em;
    padding-top: 2em;
    font-size: 0.825em;
    border: 1px solid #ddd;
    position: relative;
    clear: both;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: 'code';
      padding: 0.15em 0.5em;
      background: #eee;
      color: #bbb;
    }
  }
}
