@import "./_variables";

$docs_background: #FFF;
$docs_menu_width: 20rem;

html, body {
  background: $docs_background;
  color: $text_dark;
}

body {
  padding: 1em 1em 1em $docs_menu_width + 1rem;
}

code {
  padding: 0 0.15em;
  margin: 0 -0.15em;
  font-size: 0.9em;
  background: #F2F2F2;
  border-radius: 0.2em;
  color: #555;
}

.docs.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 4em 1em;
  width: $docs_menu_width;
  background: $background_light;
  color: $gray_dark;
  box-shadow: 5px 0 10px transparentize(#000, 0.9);
  overflow: auto;

  h2 {
    margin: 1em 0 0.5em;
    color: $gray;
    text-transform: uppercase;
    border-bottom: 1px solid $gray_lighter;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: $docs_menu_width;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    color: mix($red, $text_light);
    background: $red;
    box-shadow: 0 1px 2px transparentize(#000, 0.85);
  }

  .item {
    display: block;
    padding: 0.25em 0;
    text-decoration: none;
    color: inherit;
    font-weight: bold;

    &.sub {
      margin-left: 1em;
      font-weight: normal;
      & + .item:not(.sub) {
        padding-top: 0.5em;
      }
    }

    &:hover {
      color: $text_dark;
      text-decoration: none;
    }
  }
}

.docs.example {
  padding: 2em 0;
  background: $docs_background;

  & > .title {
    &:not(:first-child) {
      padding-top: 2em;
    }
    padding-bottom: 1em;
    text-align: center;
    font-size: 3em;
    color: $text_dark;
  }

  & > .header {
    padding: 2em 0 1em 0;
    font-size: 1.5em;
    text-align: center;
    color: $gray_dark;
    text-transform: uppercase;
  }

  & > .description,
  & > .content {
    overflow: hidden;
    position: relative;
    margin: 2em auto;
    width: 34rem;
    padding: 1em;
  }

  pre {
    padding: 2em 1em 1em;
    font-size: 0.825em;
    border: 1px solid #EEE;
    position: relative;
    clear: both;
    line-height: 1;
    letter-spacing: 0;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: 'code';
      padding: 0.15em 0.5em;
      background: #EEE;
      color: #BBB;
    }

    code {
      background: none;
    }
  }

  // Icon Example
  &.icons {
    & > .content {
      text-align: center;
      i {
        float: left;
        padding: 0.5em;
        width: 25%;
        font-size: 2.5em;
        color: $gray_dark;
      }
    }
  }
}

// AnchorJS
// ----------------------------------------

.anchorjs-link {
  // prevent anchors from affecting text alignment
  position: absolute;
  color: mix($background_light, $red);
  &:hover {
    color: $red;
  }
}
