@import "./_variables";

$docs_background: #FFF;
$docs_menu_width: 250px;

html {
  background: $docs_background;
}

body {
  background: $docs_background;
  // magic number, docs menu width
  padding-left: $docs_menu_width;
}

.docs-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 5em;
  padding-bottom: 4em;
  // magic number, body left padding
  width: $docs_menu_width;
  background: $background_light;
  color: $text_gray;
  box-shadow: 5px 0 10px transparentize(#000, 0.9);
  overflow: auto;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: $docs_menu_width;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    color: mix($red, $text_light);
    background: $red;
    box-shadow: 0 1px 2px transparentize(#000, 0.85);
  }

  .item {
    display: block;
    padding: 0.35em 1em;
    text-decoration: none;
    color: inherit;
    font-weight: bold;

    &.sub {
      margin-left: 1em;
      font-weight: normal;
      & + .item:not(.sub) {
        padding-top: 0.5em;
      }
    }

    &:hover {
      color: $text_dark;
      text-decoration: none;
    }
  }
}

.docs-example {
  padding: 2em 0;
  background: $docs_background;

  .docs-example-title {
    &:not(:first-child) {
      padding-top: 2em;
    }
    padding-bottom: 1em;
    text-align: center;
    font-size: 3em;
    color: $text_dark;
  }

  .docs-example-header {
    padding: 2em 0 1em 0;
    font-size: 1.5em;
    text-align: center;
    color: $text_gray;
    text-transform: uppercase;
  }

  .docs-example-content {
    overflow: hidden;
    margin: 2em auto;
    width: 400px;
    padding: 1em;
    &.docs-example-dark {
      background: $background_dark;
    }
  }

  pre {
    padding: 2em 1em 1em;
    font-size: 0.825em;
    border: 1px solid #DDD;
    position: relative;
    clear: both;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: 'code';
      padding: 0.15em 0.5em;
      background: #EEE;
      color: #BBB;
    }
  }
}

// AnchorJS
// ----------------------------------------

.anchorjs-link {
  // prevent anchors from affecting text alignment
  position: absolute;
  color: mix($background_light, $red);
  &:hover {
    color: $red;
  }
}

// Icon Example
// ----------------------------------------

.docs-example.docs-example-icons {
  .docs-example-content {
    text-align: center;
    i {
      float: left;
      padding: 0.5em;
      width: 25%;
      font-size: 2.5em;
      color: $text_gray;
    }
  }
}
