// ----------------------------------------
// Base
@import "../../node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// Flexboxgrid
@import "../../node_modules/flexboxgrid/dist/flexboxgrid.css";

.container {
  padding: 0 1em;
}

@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "./_variables";
@import "./_global";

// ----------------------------------------
// Components
@import "./components/_accordion";
@import "./components/_avatar";
@import "./components/_button";
@import "./components/_card";
@import "./components/_divider";
@import "./components/_footer";
@import "./components/_header";
@import "./components/_icon";
@import "./components/_card";
@import "./components/_image";
@import "./components/_links";
@import "./components/_list";
@import "./components/_location";
@import "./components/_logo";
@import "./components/_modal";
@import "./components/_media";
@import "./components/_conversation";
@import "./components/_navbar";
@import "./components/_rating";
@import "./components/_section";
@import "./components/_statistic";
@import "./components/_tabs";
@import "./components/_tabbar";
@import "./components/_toggle";
@import "./components/_type";

// ----------------------------------------
// Components
@import "utilities";
